body{
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100;300;400;700&family=Roboto&display=swap');
.front{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    text-align: center;
    word-break: normal;
    font-weight: bold;
    margin: 0;
}
.header{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 54px;
    width: 100%;
    position: fixed;
    z-index: 1;
    line-height: 34px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #E8E8E8;
}
.header_name{
    position: fixed;
    margin: 10px 84% 10px 19%;
    text-align: left;
    line-height: 34px;
    font-size: 30px;
    font-weight: 700;
    width: 150px;
    height: 34px;
    color: #448899;
}
.space{
    height: 94px;
}
.left{
    opacity: 70%;
    height: 36px;
    width: 36px;
    position: absolute;
    bottom: 46%;
    left: 10px;
}
.right{
    opacity: 70%;
    height: 36px;
    width: 36px;
    position: absolute;
    bottom: 46%;
    right: 10px;
}
.ul{
    position: fixed;
    margin: 10px 20% 10px 66%;
    text-align: right;
    line-height: 34px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    width: 220px;
    height: 34px;
}
.attr_box{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.image_size{
    width: 540px;
    height: 100%;
    object-fit: cover;
}

.slide_item{
    display: inline-flex;
    align-items: center;
    top: 50%;
    cursor: pointer;
    margin-right: 18px;
    position: relative;
}
.slide_radio{
    position: absolute;
    bottom: 63px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    box-sizing: border-box;
    padding: 1.6px;
    background: white;
}
.slide_radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: black;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}
.time_input:checked + .slide_radio::after{
    transform: scale(1);
}
.attr_subtitle{
    min-width: 550px;
    text-align: left;
    margin-left: 15px;
}

.slides{
    text-align: center;
    position: relative;
    margin-right: 15px;
    top: 10px;
    transition:.5s transform ease-in-out;
}
.button{
    height: 50px;
    width: 50px;
}
.img{
    display: block;
    max-width: 540px;
    min-width: 540px;
    height: 406px;
    object-fit: cover;
    border-radius: 5px;
}

.attr_name{
    font-size: 24px;
    font-weight: 700;
    color: #666666;
}
.attr_data{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin: 15px 0px;
}
.booking_box{
    font-weight: 700;
    display: inline-grid;
    text-align: left;
    min-width: 550px;
    height: 300px;
    background-color: #E8E8E8;
    color: #666666;
    border-radius: 5px;
    padding: 5px 0px;
}
li{
    display: flex;
    align-items: center;
    margin: 7.5px 20px;
}
.booking_btn{
    background-color: #448899;
    color: #FFFFFF;
    width: 154px;
    height: 36px;
    margin: 5px 40px 5px 20px;
    border-style: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.data_box{
    text-align: left;
    color: #666666;
    width: 61%;
    margin: 46px 58% 15px 19%;
    justify-content: center;
    line-height: 24px;
    font-weight: 400;
}
.input_date{
    border: none;
    width: 193px;
    height: 35px;
    margin: 0px 0px 0px 5px;
}
.sub_data{
    font-weight: 400;
    margin: 0px 5px;
}
.time_item{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 18px;
}
.time_input{
    display: none;
}
.radio_radio{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 6px;
    box-sizing: border-box;
    padding: 2px;
    background: white;
}
.radio_radio::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: #448899;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.15s;
}
.time_input:checked + .radio_radio::after{
    transform: scale(1);
}
.new_area{
    text-align: left;
    color: #E8E8E8;
    width: 61%;
    margin: 46px 58% 30px 19%;
    justify-content: center;
}
.footer{
    height: 104px;
    width: 100%;
    background-color: #757575;
    display: flex;
    align-items: center;
    line-height: 13px;
    justify-content: center;
    bottom: 0;
}

@media screen and (max-width: 1090px){
    .ul{margin: 10px 20% 10px 64.5%;}
    .header_name{margin: 10px 84% 10px 17.5%;}
    .slides{margin-right: 0px;}
    .attr_subtitle{margin-left: 0px;}
}
@media screen and (max-width: 856px){
    .ul{margin: 10px 20% 10px 63%;}
    .header_name{margin: 10px 84% 10px 10%;}
}
@media screen and (max-width: 600px){
    .ul{margin: 10px 20% 10px 39%;}
    .data_box{width: 92%; margin: 46px 58% 15px 5%;}
    .new_area{width: 90%; margin: 46px 58% 15px 5%;}
}
@media screen and (max-width: 570px){
    .img{max-width: 360px; min-width:360px; border-radius:5px;}
    .attr_subtitle{max-width: 340px; min-width: 340px;}
    .booking_box{max-width: 340px;min-width:340px;}
    .header_name{margin: 10px 84% 10px 4%;}
    .ul{margin: 10px 20% 10px 40%;}
    .data_box{width: 93%; margin: 46px 58% 15px 5%;}
    .new_area{width: 93%; margin: 46px 58% 15px 5%;}
}
@media screen and (max-width: 360px){
    .img{border-radius:0px;}
}