body{
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+TC:wght@100;300;400;700&family=Roboto&display=swap');
.front{
    font-size: 16px;
    text-align: center;
    word-break: normal;
    font-weight: bold;
    margin: 0;
}
.header{
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 54px;
    width: 100%;
    position: fixed;
    z-index: 1;
    line-height: 34px;
}
.header_name{
    position: fixed;
    margin: 10px 84% 10px 19%;
    text-align: left;
    line-height: 34px;
    font-size: 30px;
    font-weight: 700;
    width: 150px;
    height: 34px;
    color: #448899;
}
.name{
    font-size: 20px;
    padding: 1%;
}
.ul{
    position: fixed;
    margin: 10px 20% 10px 66%;
    text-align: right;
    line-height: 34px;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    width: 220px;
    height: 34px;
}
li{
    display: inline;
    margin: 10px;
}
.title{
    width: 100%;
    height: 300px;
    background-image: linear-gradient(
135deg
, #AADDEE 0%, #66AABB 100%);
    position: relative;
    padding: 54px 0px 0px 0px;
}
.welcome{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 300px;
}
.slogan_box{
    position: absolute;
    top: 55%;
    margin: 0px 19% 0 19%;
    transform: translateY(-50%);
    text-align: left;
    color: #F8F8F8;
}
.slogan_title{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #aabbcc;
}
.slogan_text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 15px 0px 25px 0px;
}
.slogan_search{
    filter: drop-shadow(0px 0px 20px #AABBCC);
    display: flex;
}
.slogan_input{
    height: 46px;
    width: 400px;
    border-style: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    padding: 0px 10px;
}
.slogan_btn{
    border-style: none;
    height: 46px;
    width: 60px;
    background: #448899;
    border-radius: 0px 5px 5px 0px;
}
.content{
    width: 66%;
    height: auto;
    margin: 55px 58% 15px 17%;
    justify-content: center;
    text-align: center;
}
.box{
    width: 21%;
    height: 242px;
    margin: 15px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    position: relative;
    color: #757575;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    line-height: 28px;
}
.image{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.text{
    position: absolute;
    font-weight: 700;
    line-height: 16px;
    bottom: 43px;
    left: 10px;
}
.mrt{
    position: absolute;
    bottom: 12px;
    left: 10px;
    font-style: normal;
    font-weight: normal;
}
.category{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-style: normal;
    font-weight: normal;
}
.no_found{
    height: 104px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    line-height: 13px;
    justify-content: center;
}
.footer{
    height: 104px;
    width: 100%;
    background-color: #757575;
    display: flex;
    align-items: center;
    line-height: 13px;
    justify-content: center;
    bottom: 0;
}
@media screen and (max-width: 1200px){
    .ul{margin: 10px 20% 10px 64.5%;}
    .header_name{margin: 10px 84% 10px 17.5%;}
    .slogan_box{margin: 0px 19% 0 17.5%;}
    .content{width: 70%; margin: 55px 58% 15px 15%;}
    .box{width: 45%;}
    .image{height: 165px;}
    .welcome{right: 52px; height: 240px;}
}
@media screen and (max-width: 856px){
    .ul{margin: 10px 20% 10px 63%;}
    .header_name{margin: 10px 84% 10px 10%;}
    .slogan_box{margin: 0px 19% 0 10%;}
    .content{width: 87%; margin: 55px 7% 15px 7%;}
    .box{width: 43%;}
    .welcome{right: 0px; height: 232px;}
    .slogan_input{width: 320px}
}
@media screen and (max-width: 600px){
    .ul{margin: 10px 20% 10px 39%;}
    .title{height: 280px;}
    .content{width: 90%; margin: 50px 5% 15px 5%;}
    .box{width: 90%; height: 277px;}
    .image{height: 200px;}
    .text{bottom: 43px;}
    .mrt{bottom: 7px;}
    .category{bottom: 7px;}
    .welcome{height: 196px;}
    .slogan_input{width: 230px}
}
@media screen and (max-width: 360px){
    .title{height: 280px;}
    .header_name{margin: 10px 84% 10px 4%;}
    .ul{margin: 10px 20% 10px 40%;}
    .slogan_box{margin: 0px 19% 0px 4%;}
    .slogan_input{width: 230px;}
    .content{width: 90%; margin: 35px 0% 15px 0%;}
    .box{width: 101%; height: 280px;}
    .image{height: 202px;}
    .text{bottom: 48px;}
    .mrt{bottom: 13px;}
    .category{bottom: 13px;}
    .welcome{height: 160px; right: -84px;}
}