<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Taipe Trip 台北一日遊</title>
    <link rel="stylesheet" href="/static/assets/css/index.css">
    <link rel="stylesheet" href="/static/assets/css/member.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static',filename='/assets/js/index.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/assets/js/member.js')}}"></script>
</head>
<header>
    <script type="text/javascript" src="{{url_for('static', filename='/assets/js/header.js')}}"></script>
</header>
<body class="front" onload="index_onload();header_onload();">
    <div class="title">
        <img class="welcome" src="/static/assets/image/welcome .png">
        <div class="slogan_box">
            <div class="slogan_title">輕鬆享受台北一日悠閒</div>
            <div class="slogan_text">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="slogan_search">
                <input class="slogan_input" id="keywords" type="text" autocomplete="off" placeholder="輸入景點名稱查詢">
                <button class="slogan_btn" onclick="search_key()" type="button">
                    <img src="/static/assets/image/icon_search.png">
                </button>
            </div>
        </div>
    </div>
    <div class="content" id="newbox"></div>
    <div id="nothing"></div>
    <footer class="footer">COPYRIGHT © 2021 台北一日遊</footer>
</body>

</html>