<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Taipe Trip 台北一日遊</title>
    <link rel="stylesheet" href="/static/assets/css/index.css">
    <link rel="stylesheet" href="/static/assets/css/member.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static',filename='/assets/js/index.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='/assets/js/member.js')}}"></script>

</head>
<header>
    <script type="text/javascript" src="{{url_for('static', filename='/assets/js/header.js')}}"></script>
</header>
<body class="front" onload="header_onload();ordered_onload();">
    <div style="height: 54px;"></div>
    <div class="title">
        <div class="slogan_box">
            <div id="order_message" class="slogan_title"></div>
            <div class="slogan_text" style="display:inline-grid; font-weight: 700; font-size: 23px; align-items: flex-end; padding: 0 0 0 10px;">
                訂單編號：<div id="order_id"></div></div>
            
        </div>
    </div>
    <footer class="footer">COPYRIGHT © 2021 台北一日遊</footer>
    <script type="text/javascript" src="{{url_for('static', filename='/assets/js/thankyou.js')}}"></script>
</body>

</html>